.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 2rem 0;
  box-sizing: border-box;
  background-color: rgb(131, 146, 185);
  width: 100%;
  min-height: 190px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  background-color: lightyellow;
  width: 75%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input,
select {
  padding: 0.9rem 1.2rem;
  border-radius: 5px;
  font-size: 1rem;
}

.input-text {
  width: 60%;
  outline: none;
  border: 1px solid rgb(73, 29, 29);
  color: rgb(34, 36, 37);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-submit {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
  background-color: rgb(74, 161, 196);
  color: lightyellow;
  cursor: pointer;
}

.input-submit:hover {
  opacity: 0.7;
}

.input-submit:active {
  background-color: cornflowerblue;
  opacity: 1;
}

select {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(74, 196, 160);
  outline: none;
  color: rgb(255, 248, 248);
}

@media only screen and (max-width: 576px) {
  .form-container {
    padding: 0.5rem;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  input,
  select {
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1rem;
  }

  .input-text {
    width: 100%;
  }
}
