* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  background-color: rgb(88, 106, 155);
  padding-bottom: 2rem;
  min-height: 100vh;
}
